* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
}
body {
  background-color: rgb(252, 250, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

h3 , h2{
  align-items: center;
  text-align: center;
}


.background-img  {
 background-image: url(./img/nuggets-de-frango.jpg);
 background-size:cover;
 background-repeat: no-repeat;
 width: 100%;
 height: 400px;
  
}



.ingredients {
  
  width: 500px;
  border: solid  black 3px;
  padding: 25px;
  border-radius: 15px;
  box-shadow:  rgba(0, 0, 0, 0.589) 5px 5px 5px 5px;

}


.list{
  padding: 10px;
  font-size: 18px;
}


.list-2{
  padding: 10px;
  font-size: 18px;
  
}