@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    font-family: inter, sans-serif;

    background-color: #0c0c0d;
    color: #EDEAF0;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.select{
    padding: 16px;
 }

 #category-select label {
    font-size: 12px;
    letter-spacing: 0.36px;
 }

#select-button {
    margin-top: 15px;
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-between;

    border-radius: 8px;
    border: 1px solid #252529;
    background-color: #17171a;
}

#select-value {
    color:#afabb6;
    font-size: 15px;
    
}

#chevrons svg {
    width: 16px;
    height: 16px;
}


#chevrons{
    color: #afabb6;
}

#chevrons [data-lucide="chevron-up"] {
    display: none;
}

